<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555411122478-o02u742vognkpmp404m63hqlpq3eh0ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555411122478-o02u742vognkpmp404m63hqlpq3eh0ct</string>
	<key>API_KEY</key>
	<string>AIzaSyBg-zhgNFDpoysSQ0q0pP_8wZ5XFXzc4N8</string>
	<key>GCM_SENDER_ID</key>
	<string>555411122478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shaliFe</string>
	<key>PROJECT_ID</key>
	<string>shali-7e651</string>
	<key>STORAGE_BUCKET</key>
	<string>shali-7e651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555411122478:ios:ec5877eb1f69541043b2bf</string>
</dict>
</plist>